<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" >
<head>
    <div th:replace="inc :: htmlhead"></div>
    <script type="text/javascript" th:src="@{/jslib/js/business/visitorAccess.js}"></script>
</head>
<body>

<div id="toolbar" style="display: none;">
    <form id="searchForm">
        访客姓名:&nbsp;<input class="easyui-textbox" name="visitorName" style="width:110px;"/>&nbsp;
        <!--身份证号:&nbsp;<input class="easyui-textbox" name="personCode" style="width:110px;"/>&nbsp;-->
        <!--选择日期:&nbsp;<input id="newBeginTime" name= "newBeginTime" class="easyui-datetimebox" style="width:140px;" data-options="editable:false,">-->
        进入时间:&nbsp;<input id="newBeginTime" name= "newBeginTime" class="easyui-datetimebox" style="width:140px;" data-options="editable:false,">
        - <input name="newEndTime" id="newEndTime" class="easyui-datetimebox" style="width:140px" data-options="editable:false">
        设备IP:&nbsp;<input name="inDeviceId" id="inDeviceId" style="width:140px" data-options="editable:false">
        <a onclick="searchFun();" href="javascript:void(0);" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-search'">查询</a>
        <a onclick="chearFun();" href="javascript:void(0);" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-clear'">清空</a>
        <!--<a onclick="syncFun();" href="javascript:void(0);" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-reload'">同步</a>-->
    </form>
</div>

<table id="dataGrid" data-options="fit:true,border:false"></table>

</body>
</html>