<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div style="padding: 10px;">
    <form id="organizationEditForm" method="post">
        <div style="margin-bottom:10px">
            <input class="easyui-textbox" name="name" style="width: 300px;" th:value="${org.name}" data-options="label:'部门名称',required:true,validType:'length[1,50]'"/>
        </div>

        <div style="margin-bottom:10px">
            <input name="id" type="hidden" th:value="${org.id}"/>
            <input class="easyui-textbox" name="code" style="width: 300px;" th:value="${org.code}"  data-options="label:'部门代号',validType:'length[1,50]'"/>
        </div>
        <!--<div style="margin-bottom:10px">
            <input class="easyui-textbox" name="address" style="width: 300px;" th:value="${org.address}"  data-options="label:'地址',validType:'length[1,90]'"/>
        </div>-->
        <!--<div style="margin-bottom:10px">
            <input class="easyui-numberspinner" name="seq" style="width: 300px;" th:value="${org.seq}" data-otions="label:'排序',required:true,editable:false,validType:'length[1,2]'"/>
        </div>-->

        <div style="margin-bottom:10px">
            <input class="easyui-numberspinner" name="seq" style="width: 300px;" th:value="${org.seq}" data-options="label:'排序序号',editable:false,validType:'length[1,2]'"/>
        </div>

    </form>
</div>
</body>
</html>